.navbar-nav {
  position: absolute;
  right: 0px;
  padding: 10px;
}

.photo1{
  width: 100%;
  height: 500px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  color: rgb(126, 78, 78);
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.centered_1 {
  position: absolute;
  color: rgb(107, 102, 102);
  top: 60%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.centered_2 {
  position: absolute;
  color: rgb(23, 22, 22);
  top: 75%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.centered_3 {
  position: absolute;
  top: 85%;
  left: 58%;
  transform: translate(-50%, -50%);
}
.container1 {
  
  padding: 20px 40px 40px 40px;
  max-width: 100%;
  display: inline-block;
  text-align: center;
}

.container_image{
  width: 300px;
  margin: 30px 30px 30px 0;
  float: left;
}
.container_text{
  display: inline;
  font-size: 30px;
}

.heading{
  text-align: center;
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-bottom: 3%;
   margin-top: 3%;
}

.social-icons{
  font-size: 40px;
}
.flex-grow-1 .mb-0{
 margin: left;


}
.heading2{
  text-align: center;
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-bottom: 3%;
   margin-top: 3%;
}

.row {
  display: flex;
  border: 10px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 5px;
}


.left{
  float: left;
  width: 45%;
  padding-left: 80px;
  color: brown;
}

.right{
  float: right;
  width: 45%;
  color: brown;
}

.hd1{

  text-align: center;
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-bottom: 3%;
   margin-top: 3%;

  

}












